<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Topic data details</h1>
    <table border="2px">
        <tr>
            <th>pk</th>
            <th>Topic_Name</th>
        </tr>
    {% for to in QSTO %}
        <tr>
            <th>{{to.pk}}</th>
            <td>{{to.topic_name }}</td>
        </tr>
    {% endfor %}
    </table>
    </center>
</body>
</html>